name: "Check code formatting"
on: pull_request_target
permissions:
  pull-requests: write

jobs:
  code_formatter:
    runs-on: ubuntu-latest
    steps:
      - name: fetch repo
        uses: actions/checkout@v4
        with:
          fetch-depth: 2

      - name: Get changed files
        id: changed-files
        uses: tj-actions/changed-files@v39
        with:
          separator: ","
          fetch_depth: 100 # Fetches only the last 10 commits

      - name: "Listed files"
        run: |
          echo "Formatting files:"
          echo "this is a change"
